<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/styles.css" />
</head>

<body>
    <h1>Cool Cats</h1>
    <a href="/tribe"><img src="/images/cat1.jpg" alt="cat1"></a>
    <a href="/green"><img src="/images/cat2.jpg" alt="cat2"></a>
    <a href="/boxer"><img src="/images/cat3.jpg" alt="cat3"></a>
</body>

</html>