<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <h1>Details page for <%= data.name %></h1>
    <h3>Age = <%= data.age %></h3>
    <h3>People who this or these cats have scratched the hell out of:</h3>
    <% for (var person in data.scratched_people) { %>
        <h4>Name: <%= data.scratched_people[person] %></h4>
    <% } %>
</body>
</html>