<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Survey Form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div class="wrapper">
            <form action="/process" method="POST">
                <div>
                    <label for="name">Your Name:</label>
                    <input type="text" name="name" id="name">
                </div>
                <div>
                    <label for="location">Dojo Location:</label>
                    <select name="location" id="location">
                        <option value="Chicago">Chicago</option>
                        <option value="Dallas">Dallas</option>
                        <option value="District of Columbia">District of Columbia</option>
                        <option value="Los Angeles">Los Angeles</option>
                        <option value="San Jose">San Jose</option>
                        <option value="Seattle">Seattle</option>
                        <option value="Tulsa">Tulsa</option>
                    </select>
                </div>
                <div>
                    <label for="language">Favorite Language:</label>
                    <select name="language" id="language">
                        <option value="HTML">HTML</option>
                        <option value="CSS">CSS</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="Python">Python</option>
                    </select>
                </div>

                <p>Comment (optional):</p>
                <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
                <div>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </body>
</html>