<!DOCTYPE html>
<html>
    <head>
        <title>Survey Form</title>

    </head>
    <body>
        <h1>New Dogi's Info</h1>
        <form action="/dogs" method="POST">
            <label for="name">Dog Name: </label>
            <input type="text" name="name" id="name">
            
            <label for="age">Age: </label>
            <input type="text" name="age" id="age">

            <label for="color">Color: </label>
            <input type="text" name="color" id="color">

            <label for="type">Type: </label>
            <input type="text" name="type" id="type">
            
            <input id="button1" type="submit" value="Add my dog">
        </form>
        
        <% if(messages.registration) { %>
            <% for (var x of messages.registration) { %>
                <h3><%= x %></h3>
            <% } %>
        <% } %>
    </body>
</html>