ul {
    margin: 0;
    padding: 0;
}

ul li{
    list-style-type: none;
    float: left;
}

ul li:not(:last-child):after { content: " | "; padding: 20px; }

#menu_list {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    display: block;
}

#data {
    width: 600px;
    margin: 0 auto;
}







