<div id="menu_list">
  <h1>Dojo Weather Forecast</h1>
  <!-- <button [routerLink]="['/seattle']">Seattle WA</button>
  <button [routerLink]="['/san_jose']">San Jose CA</button>
  <button [routerLink]="['/burbank']">Burbank CA</button>
  <button [routerLink]="['/dallas']">Dallas TX</button>
  <button [routerLink]="['/washington']">Washington D.C.</button>
  <button [routerLink]="['/chicago']">Chicago IL</button> -->
  <ul>
    <li>
      <a [routerLink]="['/seattle']">Seattle WA</a>
    </li>
    <li>
      <a [routerLink]="['/san_jose']">San Jose CA</a>
    </li>
    <li>
      <a [routerLink]="['/burbank']">Burbank CA</a>
    </li>
    <li>
      <a [routerLink]="['/dallas']">Dallas TX</a>
    </li>
    <li>
      <a [routerLink]="['/washington']">Washington D.C.</a>
    </li>
    <li>
      <a [routerLink]="['/chicago']">Chicago IL</a>
    </li>
</ul>
</div>
<div id="data">
<router-outlet></router-outlet>
</div>


