h1, h2, h3, h4 {
    text-align: center;
}

h1 {
    background-color: rgb(202, 0, 202);
}

img {
    width: 400px;
    margin-left: 20px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    border: 5px solid black;
}
div {
    margin-left: 320px;
}