h1, h2, h3, h4 {
    text-align: center;
}

h1 {
    background-color: rgb(202, 0, 202);
}

img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    border: 5px solid black;
}

a {
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    color: black;
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    text-align: center;
    text-decoration-line: none;
    padding: 5px;
}