<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/styles.css">
        <title>Black Panther</title>
    </head>
    <body>
        <h1>Details page for Black Panther</h1>
        <img src="images/cat3.jpg" alt="cat3">
        <h3>Favorite Food: Anything from Wakanda</h3>
        <h3>Age: 32</h3>
        <h2>Sleeping Spots:</h2>
        <% for (var i in sleeping) { %>
            <h4>
                <%= sleeping[i].spot %>
            </h4>
            <% } %>
            <a href="/cats">Go back!</a>
    </body>
</html>