<div>
  <h1>Chicago, IL</h1>
  <div class="display">
    <p>Humidity: {{ weather.main.humidity }}</p>
    <p>Temperature (Average): {{ (1.8 * (weather.main.temp_max - 273) + 32 + 1.8 * (weather.main.temp_min - 273) + 32) / 2}}</p>
    <p>Temperature (High): {{ (1.8 * (weather.main.temp_max - 273) + 32) }}</p>
    <p>Temperature (Low): {{ (1.8 * (weather.main.temp_min - 273) + 32) }}</p>
    <p>Status: {{ weather.weather[0].main }}</p>
  </div>
  <img src="https://images.pexels.com/photos/167200/pexels-photo-167200.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
    alt="Picture of Chicago">
</div>



