div {
    border: 2px solid blue;
    width: 400px;
    padding: 30px;
    border-radius: 25px;
    margin-left: 720px;
    margin-top: 50px;
}

input[type=text] {
    width: 100%;
    padding: 4px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    display: inline-block;
    margin-top: 10px;
}

h3 {
    text-align: center;
}