<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Counter</h1>
    <h3>Times =
        <%= counter %>
    </h3>
    <form action="/clear">
        <label for="clear">Clear Counter</label>
        <input type="submit" name="clear">
    </form>
    <form action="/times2">
        <label for="times2">Increment Counter by 2</label>
        <input type="submit" name="times2">
    </form>

    
</body>
</html>

