<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <form action="/result" method="post">
        <label for="name">Your Name:</label>
        <input type="text" name=name>
        <label for="location">Dojo Location</label>
        <input type="text" name="location">
        <label for="language">Favorite Language</label>
        <input type="text" name="language">
        <label for="comment">Comment(optional)</label>
        <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        <input type="submit" value="submit">
    </form>
</body>
</html>