<!DOCTYPE html>
<html>
    <head>
        <title>Survey Form</title>
    </head>
    <body>
        <form action="/quotes" method="POST">
            <label for="name">Your Name: </label>
            <input type="text" name="name" id="name">
            
            <label for="age">Your Quote: </label>
            <input type="text" name="quote" id="quote">
            
            <input id="button1" type="submit" value="Add my Quote">
        </form>
        <form action="/quotes" method="GET">
            <input id="button2" type="submit" value="Skip to Quotes">
        </form>
        <% if(messages.registration) { %>
            <% for (var x of messages.registration) { %>
                <h3><%= x %></h3>
            <% } %>
        <% } %>
    </body>
</html>