<h2>Restful Tasks API</h2>

<button (click)="getTasksFromService()">Get all Tasks</button>
<!-- <button (click)="_taskService.oneTasks('5afa0463aba6b70de121a7e6')">Get one Tasks</button>
<button (click)="_taskService.createTasks({title: 'Learning Angular', description: 'It is hard', completed: false})">Create a Tasks</button>
<button (click)="_taskService.deleteTasks('5afc7c5596fe8d97f8dc5620')">Delete a Tasks</button>
<button (click)="_taskService.updateTasks('5afa02bded11270d6393bfb5', {title: 'Learning Angular', description: 'It is soft', completed: false})">Update a Tasks</button> -->

<div *ngFor="let task of tasks">
  <p>{{ task.title }}</p>
  <button (click)="info(task)">Show</button>
</div>

<div>
  <p>{{task.title}}</p>
  <p>{{task.description}}</p>
</div>


<!-- <button (click)="onButtonClick()" >Click me!</button>
<button (click)="onButtonClickParam(5)">Click me!</button>
<button (click)="onButtonClickParams(5, 'hello')">Click me!</button>
<button (click)="onButtonClickEvent($event)">Click me!</button> -->

<!-- <h3>Value of num is: {{num}}</h3>
<h3>Value of randNum is: {{randNum}}</h3>
<h3>{{str}}</h3>
<input type="text" [value]="first_name" />

<p *ngIf="loggedIn">You are logged in!</p>
<p *ngFor="let snack of snacks">{{snack}}</p>
<p *ngIf="snacks.length <3">You need more snacks!</p> -->