<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="stylesheets/styles.css">
        <!-- <script src="../apps.js"></script> -->
        <title>Cars</title>
    </head>
    <body>
        <h1>Add new car info below!</h1>
        <form action="">
            <label for="make">Car Make</label>
            <input type="text" name="make" id="make">

            <label for="model">Car model</label>
            <input type="text" name="model" id="model">

            <label for="year">Car Year</label>
            <input type="text" name="year" id="year">

            <input type="submit" value="Submit!">

        </form>
    </body>
</html>